@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  background-color: #fbfbfb;
  color: #4c4c4c;
  font-size: 14px;
  
}

